In [1]:
import pandas as pd

In [2]:
# Path to downloaded data
DownloadedPath = "DownloadedData/20"
PathEnd="-citibike-tripdata.csv"

In [3]:
df=pd.read_csv(DownloadedPath+"2101"+PathEnd)
df.to_csv("CombinedData/data.csv", index=False, header=True)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [4]:
for year in range(19,21):
    sYear=str(year)
    for month in range(1,13):
        if month<10:
            sMonth="0"+str(month)
        else:
            sMonth=str(month)
        df=pd.read_csv(DownloadedPath+sYear+sMonth+PathEnd)
        df.to_csv("CombinedData/data.csv", mode='a', index=False, header=False)